# Neon PostgreSQL Database Connection Template
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD_HERE@ep-square-dawn-azupdsqe-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
NEON_HTTP_ENDPOINT=https://ep-square-dawn-azupdsqe-pooler.c-3.ap-southeast-1.aws.neon.tech/sql
